/* .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}*/
/* button.button {
    /* padding: 5px; */
    /* background: #d95753; */
    /* width:20px;
    height:20px;
} */
/* .img-size img {
    width: 30px;
    height: 30px;
} */

.comment_div {
    display: inline-block;
}