.comment_div {
    display: inline-block;
}



.comment {
    position: relative;
    width: 282px;
    border: 1px solid black;
}
.comment_thread {
    padding-top: 12px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    position: relative;
    border: 1px solid black;
}
.comment_thread_header {
    position: relative;
    height: 32px;
    padding-bottom: 10px;
}
.comment_author_profile {
    position: relative;
    width: 32px;
    height: 32px;
    display: inline;
    float: left;
}
.comment_author_info {
    position: relative;
    padding-left: 10px;
    display: inline;
    float: left;
}
.comment_author_name {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
}
.comment_time {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
}
.comment_edit {
    position: relative;
    float: right;
    display: inline;
    width: 20px;
    height: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
}
.comment_delete {
    width: 20px;
    position: relative;
    float: right;
    display: inline;
    height: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 1-px;
}
.comment_input {
    position: relative;
    display: block;
}
.comment_text_input {
    position: relative;
    display: inline;
    width: 190px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
}
.comment_text_readOnly {
    position: relative;
    display: inline;
    word-wrap: break-word;
    width: 190px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
}
.comment_text_input_enter {
    position: relative;
    display: inline;
    float: right;
    margin-top: 1px;
    padding: 2px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    border: 1px solid black;
}