html {
  cursor: url(src/cursor.png), auto
}

#header {
  position: fixed;
  padding-top: 25px;
  padding-bottom: 20px;
  padding-left: 28px;
  padding-right: 28px;
  /* width: 100%; */
  height: 17px;
  left: 0px;
  right: 0px;
  top: 0px;
  background-color: white;
  border-bottom:1px solid black;
  z-index: 8;
}

#header_placeholder {
  position: relative;
  height: 55px;
  left: 0px;
  top: 0px;
}

.header_left {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
  float: left;
}

.header_right {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
  float: right;
}

#logo {
  position: absolute;
  display: block;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width : 116;
}

#body_frame {
  position: relative;
  width: auto;
  height: auto;
  left: 0px;
  top: 0px;
  border: 4px solid red;
}

#perfect_pixel {
  position: relative;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

#navigate_menu {
  position: relative;
  padding-top: 37px;
  padding-bottom: 10px;
  padding-left: 37px;
  padding-right: 37px;
  height: 17px;
  left: 0px;
  top: 0px;
}

.navigate_menu_text {
  position: relative;
  padding-left: 5px;
  padding-right: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -0.01em;
  text-align: center;
  float: left;
}

.navigate_menu_arrow {
  position: relative;
  padding-left: 5px;
  padding-right: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
  float: left;
}

#title_menu {
  position: relative;
  padding-top: 10px;
  padding-bottom: 54px;
  padding-left: 37px;
  padding-right: 37px;
  height: 77px;
  left: 0px;
  top: 0px;
}

#title_menu_1 {
  position: relative;
  padding-bottom: 4px;
  font-family: 'Roboto', sans-serif;
  font-size: 27px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.01em;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#title_menu_2 {
  position: relative;
  padding-bottom: 11px;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: -0.01em;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.title_menu_tab {
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: -0.01em;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.title_menu_text {
  position: relative;
  padding-left: 21px;
  padding-right: 21px;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: -0.01em;
  text-align: center;
  display: inline;
  margin-left: auto;
  margin-right: auto;
}

#content {
  position: relative;
  padding-left: 37px;
  padding-right: 37px;
  padding-bottom: 54px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#filter {
  position: relative;
  left: 0px;
  top: 0px;
  height: 13px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.filter_list {
  position: relative;
  float: right;
  padding-left: 24px;
  padding-right: 24px;
}

.filter_list_label {
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: -0.01em;
  text-align: center;
  float: left;
  padding-right: 6px;
}

.filter_list_icon {
  position: relative;
  float: left;
  padding-right: 6px;
}

#content_body {
  position: relative;
  left: 0px;
  top: 0px;
  height: 1300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#side_menu {
  position: relative;
  width: 151px;
  height: 2500px;
  float: left;
}

.side_menu_block {
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid black;
}

.side_menu_block_heading {
  position: relative;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 9px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.01em;
  text-align: left;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.side_menu_block_list {
  position: relative;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: -0.01em;
  text-align: left;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.thumbnails_row {
  position: relative;
  width: calc(100% - 198px);
  padding-top: 33px;
  padding-left: 47px;
  height: auto;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
  float: left;
}

.thumbnail {
  position: relative;
  width: 25%;
  height: auto;
  float: left;
}

.thumbnail_image {
  position: relative;
  max-width: 100%;
  height: auto;
}

.thumbnail_heading1 {
  position: relative;
  padding-top: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: -0.01em;
  text-align: center;
}

.thumbnail_heading2 {
  position: relative;
  padding-top: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: -0.01em;
  text-align: center;
}

.thumbnail_price {
  position: relative;
  padding-top: 15px;
  height: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.thumbnail_price_currency {
  position: relative;
  padding-right: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: -0.01em;
  text-align: center;
  display: inline;
  margin-left: auto;
  margin-right: auto;
}

.thumbnail_price_info {
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: -0.01em;
  text-align: center;
  display: inline;
  margin-left: auto;
  margin-right: auto;
}

.avenue_col {
  position: relative;
  width: 12%;
  float: left;
}
.avenue_row {
  position: relative;
  height: 30px;
  left: 0px;
  top: 0px;

  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;

  display: block;
  margin-left: auto;
  margin-right: auto;
  float: left;
}