html {
  cursor: url(src/cursor.png), auto
}

#header {
  position: fixed;
  padding-top: 25px;
  padding-bottom: 20px;
  padding-left: 28px;
  padding-right: 28px;
  /* width: 100%; */
  height: 17px;
  left: 0px;
  right: 0px;
  top: 0px;
  background-color: white;
  border-bottom:1px solid black;
  z-index: 8;
}

#header_placeholder {
  position: relative;
  height: 55px;
  left: 0px;
  top: 0px;
}

.header_left {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
  float: left;
}

.header_right {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
  float: right;
}

#logo {
  position: absolute;
  display: block;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 116px;
}

#body_frame {
  pointer-events: none;
  position: fixed;
  left: 0px;
  top: 62px;
  width: 1200px;
  height: 900px;
  border: 4px solid #4580ff;
  z-index: 10;
  visibility: hidden;
}

#statusBlock {
  pointer-events: none;
  position: fixed;
  width: 100%;
  left: 0px;
  top: 62px;
  z-index: 10;
  display: inline-block;
  /* visibility: hidden; */
}

#status {
  pointer-events: none;
  position: relative;
  top: 3px;
  width: 200px;
  height: 18px;
  border-radius: 0px 0px 8px 8px;

  margin: auto;
  vertical-align: middle;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background: #4580ff;
  z-index: 10;
  visibility: hidden;
}

#statusRemark {
  pointer-events: none;
  position: relative;
  top: 6px;

  margin: auto;
  vertical-align: middle;
  text-align: center;
  font-weight: 400;
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: gray;
  z-index: 10;
  visibility: hidden;
}

#perfect_pixel {
  position: relative;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

#navigate_menu {
  position: relative;
  padding-top: 37px;
  padding-bottom: 10px;
  padding-left: 37px;
  padding-right: 37px;
  height: 17px;
  left: 0px;
  top: 0px;
}

.navigate_menu_text {
  position: relative;
  padding-left: 5px;
  padding-right: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -0.01em;
  text-align: center;
  float: left;
}

.navigate_menu_arrow {
  position: relative;
  padding-left: 5px;
  padding-right: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
  float: left;
}

#title_menu {
  position: relative;
  padding-top: 10px;
  padding-bottom: 54px;
  padding-left: 37px;
  padding-right: 37px;
  height: 77px;
  left: 0px;
  top: 0px;
}

#title_menu_1 {
  position: relative;
  padding-bottom: 4px;
  font-family: 'Roboto', sans-serif;
  font-size: 27px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.01em;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#title_menu_2 {
  position: relative;
  padding-bottom: 11px;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: -0.01em;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.title_menu_tab {
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: -0.01em;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.title_menu_text {
  position: relative;
  padding-left: 21px;
  padding-right: 21px;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: -0.01em;
  text-align: center;
  display: inline;
  margin-left: auto;
  margin-right: auto;
}

#content {
  position: relative;
  padding-left: 37px;
  padding-right: 37px;
  padding-bottom: 54px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#filter {
  position: relative;
  left: 0px;
  top: 0px;
  height: 13px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.filter_list {
  position: relative;
  float: right;
  padding-left: 24px;
  padding-right: 24px;
}

.filter_list_label {
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: -0.01em;
  text-align: center;
  float: left;
  padding-right: 6px;
}

.filter_list_icon {
  position: relative;
  float: left;
  padding-right: 6px;
}

#content_body {
  position: relative;
  left: 0px;
  top: 0px;
  height: 1300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#side_menu {
  position: relative;
  width: 151px;
  height: 2500px;
  float: left;
}

.side_menu_block {
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid black;
}

.side_menu_block_heading {
  position: relative;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 9px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.01em;
  text-align: left;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.side_menu_block_list {
  position: relative;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: -0.01em;
  text-align: left;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.thumbnails_row {
  position: relative;
  width: calc(100% - 198px);
  padding-top: 33px;
  padding-left: 47px;
  height: auto;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
  float: left;
}

.thumbnail {
  position: relative;
  width: 25%;
  height: auto;
  float: left;
}

.thumbnail_image {
  position: relative;
  max-width: 100%;
  height: auto;
}

.thumbnail_heading1 {
  position: relative;
  padding-top: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: -0.01em;
  text-align: center;
}

.thumbnail_heading2 {
  position: relative;
  padding-top: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: -0.01em;
  text-align: center;
}

.thumbnail_price {
  position: relative;
  padding-top: 15px;
  height: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.thumbnail_price_currency {
  position: relative;
  padding-right: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: -0.01em;
  text-align: center;
  display: inline;
  margin-left: auto;
  margin-right: auto;
}

.thumbnail_price_info {
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: -0.01em;
  text-align: center;
  display: inline;
  margin-left: auto;
  margin-right: auto;
}

.avenue_col {
  position: relative;
  width: 115px;
  float: left;
}
.avenue_row {
  position: relative;
  height: 30px;
  left: 0px;
  top: 0px;

  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;

  display: block;
  margin-left: auto;
  margin-right: auto;
  float: left;
}

#hardcodedImage {
  position: relative;
  padding-top: 37px;
  width: 1200px;
  top: 0px;
}

#messenger {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 250px;
  height: 300px;
  border: 1px solid black;
  background-color: white;
  z-index: 2;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 6px 0 rgba(0, 0, 0, 0.2);
}

#messenger_header {
  position: relative;
  width: auto;
  height: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;

  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0em;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 1px solid black;
}

#messenger_body {
  position: relative;
  width: auto;
  height: 208px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;

  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0em;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 1px solid black;

  overflow: auto;
}

.shopping_together_request {
  position: relative;
  width: 190px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  border-radius: 4px;

  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0em;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  border: 1px solid green;
}

.shopping_together_request_label {
  position: relative;
  text-align: left;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
}

.shopping_together_request_buttons {
  position: relative;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.shopping_together_request_button {
  position: relative;
  padding-left: 21px;
  padding-right: 21px;
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
  color: black;
  background: white;
  border: 1px solid black;
}

.shopping_together_info {
  position: relative;
  width: 190px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0em;

  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;

  color: gray;
}

.shopping_together_request_button:hover {
  border: 1px solid #2363ec;
  background: #2363ec;
  color: white;
}
.message_wrap {
  position: relative;
  width: 200px;
  height: fit-content;
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: left;
}

.comment {
  position: relative;
  width: 190px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;

  border-radius: 4px;

  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0em;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  border: 1px solid blue;
}

.chat {
  position: relative;
  width: fit-content;
  max-width: 170px;
  height: auto;
  text-align: left;
  word-wrap: break-word;

  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0em;

  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  border: 1px solid black;
}

#messenger_footer {
  position: relative;
  width: auto;
  height: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;

  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0em;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

#message_input {
  height: auto;
  width: auto;
  border:none;
  border-right:0px;
  border-top:0px;
  border-left:0px;
  border-bottom:0px;
  z-index: 2;
}

#friendCursor {
  position: absolute;
  z-index: 1;
  visibility: hidden;
}

.buttonsFloating {
  position: fixed;
  bottom: 328px;
  right: 25px;
}

.buttonsFloating div {
  padding: 0;
  margin-top: 5px;
}

.flotingButton{
  visibility: hidden;
  border: 1px solid #444444;
  background: white;
  text-align: center;
  z-index: 10;

  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 12px;
  color: #444444;

  width: 240px; height: 16px;
  border-radius: 8px;
  /* display: inline-block; */
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 6px 0 rgba(0, 0, 0, 0.2);
}

.flotingButton:hover {
  border: 1px solid white;
  background: #4580ff;
  color: white;
}

/*sdsd*/


.pinComment {
  position: absolute;
  width: 282px;
  border: 1px solid black;
  background: white;
}
.pinComment_thread {
  padding-top: 12px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  position: relative;
  border: 1px solid black;
}
.pinComment_thread_header {
  position: relative;
  height: 32px;
  padding-bottom: 10px;
}
.pinComment_author_profile {
  position: relative;
  width: 32px;
  height: 32px;
  display: inline;
  float: left;
}
.pinComment_author_info {
  position: relative;
  padding-left: 10px;
  display: inline;
  float: left;
}
.pinComment_author_name {
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
}
.pinComment_time {
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}
.pinComment_edit {
  position: relative;
  float: right;
  display: inline;
  width: 20px;
  height: 20px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 10px;
}
.pinComment_delete {
  width: 20px;
  position: relative;
  float: right;
  display: inline;
  height: 20px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 1-px;
}
.pinComment_input {
  position: relative;
  display: block;
}
.pinComment_text_input {
  position: relative;
  display: inline;
  width: 190px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
}
.pinComment_text_readOnly {
  position: relative;
  display: inline;
  word-wrap: break-word;
  width: 190px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
}
.pinComment_text_input_enter {
  position: relative;
  display: inline;
  float: right;
  margin-top: 1px;
  padding: 2px;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  border: 1px solid black;
}

#itemLink {
  background: none;
  border: none;
}

#header_right_4 {
  background: none;
  border: none;
}

.human_with_state {
  position: absolute;
  width: 16px;
  height: 32px;
  left: 0px;
  top: 0px;
  display: inline-block;
}

.human_state {
  visibility: hidden;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2px;
  width: 16px;
  height: 14px;
  left: 0px;
  top: 0px;  
}

.human {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 16px;
  height: 16px;
  left: 0px;
  top: 0px;
  transform: 0(deg);
}

.resetDatabase {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
  background-color: tomato;
  color: white;
}